@import "tailwindcss";

@plugin "daisyui" {
    /* biome-ignore lint: DaisyUI stuff */
    themes:
        light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy,
        wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset, caramellatte, abyss, silk;
}

@plugin "daisyui/theme" {
    /* biome-ignore lint: DaisyUI stuff */
    name: "bumblebee";
    /* biome-ignore lint: DaisyUI stuff */
    prefersdark: false;
    color-scheme: "light";
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --border: 2px;
    --depth: 0;
}

* {
    outline: none;
}

html {
    overflow-y: scroll;
}

body {
    min-height: 100vh;
}

.tags-list {
    overflow-x: auto;
}

.tags-list .table td:first-child {
    padding-left: 0;
}

.tags-list .table tr:first-child {
    border-top: var(--border) solid color-mix(in oklch, var(--color-base-content) 5%, #0000);
}

.tags-list .table tr:last-child {
    border-bottom: var(--border) solid color-mix(in oklch, var(--color-base-content) 5%, #0000);
}

/* Plugins */
:root {
    --dp-menu-padding: 0.4rem !important;
}

.dp__main,
.dp__main > div,
.dp__input_wrap,
.dp__input {
    height: 100% !important;
}

.dp__theme_light {
    --dp-background-color: var(--color-base-100) !important;
    --dp-text-color: var(--color-base-content) !important;
    --dp-hover-color: var(--color-base-300) !important;
    --dp-hover-text-color: var(--color-base-content) !important;
    --dp-icon-color: var(--color-base-content) !important;
    --dp-hover-icon-color: var(--color-base-content) !important;
    --dp-primary-color: var(--color-primary) !important;
    --dp-primary-text-color: var(--color-primary-content) !important;
    --dp-border-color: var(--color-base-300) !important;
    --dp-menu-border-color: var(--color-base-300) !important;
}

.dp__input {
    border: var(--border) solid var(--color-base-300) !important;
    border-radius: var(--radius-field) !important;
}

.dp__arrow_top {
    display: none !important;
}

.dp--menu--inner-stretched {
    padding: var(--dp-menu-padding) !important;
}

.dp__overlay_row {
    justify-content: space-between !important;
}

.emoji-mart {
    width: 100% !important;
    height: 15rem !important;
    border: var(--border) solid color-mix(in oklab, var(--color-base-content) 20%, #0000) !important;
    border-radius: var(--radius-field) !important;
    color: var(--color-base-content) !important;
    background: var(--color-base-100) !important;
}

.emoji-mart-search {
    margin: 6px !important;
    padding: 0 !important;
}

.emoji-mart-search input {
    border: var(--border) solid color-mix(in oklab, var(--color-base-content) 20%, #0000) !important;
    border-radius: var(--radius-field) !important;
}

.emoji-mart-scroll {
    padding: 0 !important;
}

#emoji-mart-list {
    padding-left: 6px !important;
}

.emoji-mart-category-label {
    background: var(--color-base-100) !important;
}

.emoji-mart-category-label h3 {
    text-align: center !important;
}

.emoji-mart-emoji {
    padding: 3px !important;
}

.emoji-mart-emoji,
.emoji-mart-emoji span {
    cursor: pointer !important;
}

.emoji-mart-emoji:hover:before {
    background: var(--color-base-300) !important;
}
